name: Deploy to apk file

on:
  workflow_dispatch:
    inputs:
      version:
        description: eg. 1.0.0
        required: true

      description:
        description: What's new?
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - run: |
          sed -i 's/^version: .*/version: ${{ github.event.inputs.version }}/' pubspec.yaml

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.3

      - run: flutter build apk --profile

      - run: mv build/app/outputs/apk/profile/app-profile.apk Torri-${{ github.event.inputs.version }}.apk

      - name: Create tag
        run: |
          git tag v${{ github.event.inputs.version }}
          git push origin v${{ github.event.inputs.version }}

      - name: Create Gitea Release
        uses: akkuman/gitea-release-action@v1
        with:
          name: Release ${{ github.event.inputs.version }}
          tag_name: v${{ github.event.inputs.version }}
          body: ${{ github.event.inputs.description }}
          draft: false
          prerelease: false
          files: |
            src/Torri-${{ github.event.inputs.version }}.apk
